@import "../../var.css";

.container {
  margin-top: 76px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
  opacity: 0; /* Start with opacity 0 */
  transform: translateY(20px); /* Start slightly below */
  transition: opacity 1s ease-out, transform 1s ease-out; /* Smooth transition */
}

.container.visible {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Move to original position */
}

.title {
  font-size: 3rem;
  font-weight: 600;
  padding-top: 5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  letter-spacing: 1.75px;
  
}
.sub{
  font-weight: 400;
  font-weight: 1rem;
  max-width: 51rem;
  padding: 0 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1rem;
  max-width: 51rem;
  padding: 0 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Centers the element horizontally */
}

.projects {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
}
.buttonContainer {
  text-align: center;
  margin-top: 20px;
}

.showMoreButton {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  border-radius: 50px;
  
}

.showMoreButton:hover {
  background-color: var(--color-secondary);
}

